label {
    display: block;
    margin-bottom: 0.5em;
}

input[type="text"],
input[type="email"],
input[type="number"],
textarea {
    width: 100%;
    padding: 0.5em;
    margin-bottom: 1em;
    border: 1px solid #ccc;
    box-sizing: border-box; /* Importante para que el padding no aumente el ancho */
}

input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 0.5em 1em;
    border: none;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #3e8e41;
}